{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-4">
            <center>
                <br><br><br><br><br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam earum sequi quidem autem. Nesciunt corporis repellat voluptatum nihil. Saepe.
                <br><br><br><br>

                <a type="button" class="btn btn-secondary" href="{%url 'agendar' %}">Agendamento</a>

            </center>
        </div>
        <div class="col-md-8">
            <center>
                <br><br><br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, aliquid?
            </center>
        </div>
    </div>
    
</div>




{% endblock %}
